[submodule "GeneralCMakeModules"]
	path = GeneralCMakeModules
	url = https://github.com/ChristianHinkle/GeneralCMakeModules.git
[submodule "CMakePresets_General"]
	path = CMakePresets_General
	url = https://github.com/ChristianHinkle/CMakePresets_General.git
